<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <p>Login success</p>
    <form method="post" action="/home" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Close connection" />
    </form>

</body>

</html>