<html>

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <p>Hello world</p>
    <p>Hello again</p>
    <p>It's me</p>
    <p>Tung Ace</p>
    <p>It's me again</p>
    <p>tungdv@ows.com.vn</p>
    <p>OWS VN- Open workspace</p>
    <p>YOLO</p>
    <a href="/connect">Connect to Mysql DB</a>
</body>

</html>