<html>
    <head>
        <meta charset="UTF-8">
            <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <br>
            <form method="post" action="/login" enctype="application/x-www-form-urlencoded">
                <label>Username:</label><br>
                <input type="text" name="user_name"/><br>
                <label>Password:</label><br>
                <input type="password" name="user_password"/><br>

                <input type="submit" value="Login"/>
            </form>
    </body>
    <script>
        var fail = <%- JSON.stringify(fail) %>;
        if(fail){
            alert('Login fails. Please login again');
        }
    </script>
</html>